body{
	margin:20px;
}
.site{
	//could not figure out how to work the other properties of grids (1em or px) I just used fr since it was the only thing working
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows:1fr 1fr 1fr 1fr .5fr;
	grid-gap: 1em 1em;
	grid-template-areas:
		"title title title title title title"
		"situation situation causes causes solution solution"
		"role role role pesticides pesticides pesticides"
		"action action action action action action"
		". . sidebar sidebar footer footer";
}
//Web page 
@media screen and (min-width: 737px) and (max-width: 1680px){
	.site{
		grid-template-areas:
		"title title title title title title"
		"situation situation causes causes solution solution"
		"role role role pesticides pesticides pesticides"
		"action action action action action action"
		". . sidebar sidebar footer footer";
	}
}
//tablet
@media screen and (min-width: 506px) and (max-width: 736px){
	.site{
		grid-template-areas:
		"title title title title title title"
		"situation situation situation situation situation situation"
		"causes causes causes causes causes causes"
		"solution solution solution solution solution solution"
		"role role role pesticides pesticides pesticides"
		"action action action action action action"
		"sidebar sidebar sidebar footer footer footer";
	}
}
//mobile
@media screen and (max-width: 505px){
	// header{
	// 	max-height: 200px;
	// 	//max-width: 100%;
	// }
	.site{
		// font-size: 4em;
		grid-template-areas:
		". . . . . ."
		"situation situation situation situation situation situation"
		"causes causes causes causes causes causes"
		"solution solution solution solution solution solution"
		"role role role role role role"
		"pesticides pesticides pesticides pesticides pesticides pesticides"
		"action action action action action action"
		"sidebar sidebar sidebar sidebar sidebar sidebar"
		"footer footer footer footer footer footer"
		;
	}
}

